body{
    background-color:bisque;
}
main{
    height: 400px;
    width: 450px; 
    margin: 0;  
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 450px;
    background-color: #1d242e;
    border-radius: 30px;
    margin-top: 10px;
}
header{
    width: 80%;
}

#star-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #272f38;
}
#img-star-1{
    height: 22px;
    height: 22px;
}

#title-1{
    color: white;
    font-size: 28px;
}
#sub-1{
    display: flex;
    width: 100%;
    color: #9298a4;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.button-1-2-3{
    color: #9298a4;
    background-color: #272f38;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;

    border-radius: 50%;
    border: none;
}
#button-5{
    background-color: #fc7613;
    color: white;
}
#button-4{
    color:black;
    background-color:#9298a4;
}
.avaliar{
    width: 86%;
    height: 14%;
    border-radius:40px;
    margin-top: 28px;
    background-color:#fc7613 ;
    color: white;
}


/********************************* card de baixo ******************************/

#img-thanks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 80%;
}
#escrita{
    height: 100%;
    gap: 14px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#nota{
    margin: 0;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:40px;
    width: 60%;
    height: 10%;
    font-size: 18px;
    background-color:#272f38 ;
    color: #fc7613;
}

#obrigado{
    margin: 0;  
    font-size: 30px;
    color: white;
}
#texto{
    text-align: center;
    color: #9298a4;
}
#avaliar-novamente{
    font-size: 14px;
    color:#fc7613 ;
}